In [65]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [66]:
df_orig = pd.read_csv(r"C:\Users\danie\Desktop\Dan\Career Foundry\Achievement Six\Netflix Movies and Shows\imdb_movies_shows.csv")

In [67]:
path = r"C:\Users\danie\Desktop\Dan\Career Foundry\Achievement Six\Netflix Movies and Shows\imdb_movies_shows.csv"

In [68]:
path

'C:\\Users\\danie\\Desktop\\Dan\\Career Foundry\\Achievement Six\\Netflix Movies and Shows\\imdb_movies_shows.csv'

In [69]:
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5558 entries, 0 to 5557
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 5558 non-null   object
 1   type                  5558 non-null   object
 2   release_year          5558 non-null   int64
 3   age_certification     3109 non-null   object
 4   runtime               5558 non-null   int64
 5   genres                5558 non-null   object
 6   production_countries  5558 non-null   object
 7   full name             5532 non-null   object
 8   seasons               1965 non-null   float64
 9   imdb_id               5159 non-null   object
 10  imdb_score            5099 non-null   float64
 11  imdb_votes            5085 non-null   float64
dtypes: float64(3), int64(2), object(7)
memory usage: 521.2+ KB

In [70]:
df_orig.describe()

       release_year      runtime      seasons   imdb_score    imdb_votes
count   5558.000000  5558.000000  1965.000000  5099.000000  5.085000e+03
mean    2015.904282    78.424973     2.197455     6.543813  2.422150e+04
std        7.403668    39.566588     2.673452     1.149223  8.857135e+04
min     1945.000000     0.000000     1.000000     1.600000  5.000000e+00
25%     2015.000000    45.000000     1.000000     5.800000  5.790000e+02
50%     2018.000000    86.000000     1.000000     6.600000  2.471000e+03
75%     2020.000000   105.000000     2.000000     7.400000  1.077600e+04
max     2022.000000   251.000000    42.000000     9.500000  2.268288e+06

In [71]:
df_orig.head()

,title,type,release_year,age_certification,runtime,genres,production_countries,full name,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],United States of America (the),1.0,NaN,NaN,NaN
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],United States of America (the),NaN,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],United Kingdom of Great Britain and Northern I...,NaN,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],United Kingdom of Great Britain and Northern I...,NaN,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],United States of America (the),NaN,tt0070047,8.1,391942.0

In [72]:
#looking for duplicates
df_dups = df_orig[df_orig.duplicated()]

In [73]:
df_dups

Empty DataFrame
Columns: [title, type, release_year, age_certification, runtime, genres, production_countries, full name, seasons, imdb_id, imdb_score, imdb_votes]
Index: []

In [74]:
df_orig.isnull().sum()

title                      0
type                       0
release_year               0
age_certification       2449
runtime                    0
genres                     0
production_countries       0
full name                 26
seasons                 3593
imdb_id                  399
imdb_score               459
imdb_votes               473
dtype: int64

The NaN do not need to be filled since they are mostly tied to each others counterpart. seasons is tied to shows, meaning the NaN is reflected in Movies.

In [80]:
# drop columns (imdb_id)
df_orig.drop(columns = ['imdb_id'], inplace = True)

In [83]:
# drop columns (imdb_id)
df_orig.drop(columns = ['age_certification'], inplace = True)

In [84]:
df_orig.isnull().sum()

title                      0
type                       0
release_year               0
runtime                    0
genres                     0
production_countries       0
full name                 26
seasons                 3593
imdb_score               459
imdb_votes               473
dtype: int64

In [82]:
df_orig.shape

(5558, 11)

In [78]:
df_orig.to_csv(path+"2nd_prep_data.csv")

Im going to focus on Shows only